.game-container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.body {
    background-color: slategrey;
}

.game-h1 {
    font-size: 40px;
    font-weight: bold;
}

.game-middle {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.middle-right, .middle-left {
    width: 200px;
    height: 500px;
    border: 8px solid black;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

.middle-left {
    justify-content: space-between;
    text-align: center;
    font-size: 18px;
}

.instructions-top, .instructions-mid {
    margin: 5px;
}

.instructions-top {
    margin-bottom: 20px;
}

.instructions-bottom {
    padding-left: 30px;
}

.instructions-mid {
    font-size: 22px;
    font-weight: bolder;
}

.par1, .par2 {
    margin: 4px;
}

#dog-game {
    border-top: 8px solid black;
    border-bottom: 8px solid black;
}

.oz-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.top-par {
    margin: 10px;
}